.logo {
    height: 40px;
    filter: invert(100%);
}

.navbar-light .navbar-toggler-icon {
    filter: invert(100%);
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 786.9px) {
    .logo {
        height: 35px;
    }    
}


@media screen and (max-width: 433.9px) {
    .logo {
        height: 30px;
    }    
}